.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "toolbar"
    "main";
}

.toolbar {
  grid-area: toolbar;
  background-color: red;
}

.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: #21252b;
  display: flex;
  height: calc(100%);
}

.link {
  color: #b318f0;
}