.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "navbar toolbar"
    "navbar main";
}

.toolbar {
  grid-area: toolbar;
  background-color: red;
}

.sidebar {
  grid-area: navbar;
  background-color: darkred;
}

.main {
  grid-area: main;
  background-color: darkslategray;
  display: grid;
  grid-template-areas:
    "editor preview";
}

.link {
  color: #b318f0;
}