name: release

on:
  push:
    branches:
      - main

jobs:
  build-tauri:
    permissions:
      contents: write
    strategy:
      
      fail-fast: false
      matrix:
        include:
          - os: macos
            target: x86_64-apple-darwin
            args: ""
          - os: macos
            target: aarch64-apple-darwin
            args: ""

          - os: ubuntu
            target: x86_64-unknown-linux-gnu
            args: ""
          - os: ubuntu
            target: aarch64-unknown-linux-gnu
            args: ""

          - os: windows
            target: x86_64-pc-windows-msvc
            args: ""

          - os: windows
            target: aarch64-pc-windows-msvc
            args: -b none
            
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: ${{ matrix.target }}
        
      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ./src-tauri
            ./node_modules
          key: ${{ matrix.target }}

      - uses: actions/checkout@v3
        
      - name: install dependencies (ubuntu only)
        if: matrix.os == 'ubuntu'
        run: |
          sudo apt update
          sudo apt install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
      
      - name: installation modules nodejs
        run: npm install
      
      # - uses:  AquaBx/tauri-action
      - uses: tauri-apps/tauri-action@v0.4.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
          releaseName: ${{github.repository}} __VERSION__
          prerelease: true
          args: -t ${{ matrix.target }}  ${{ matrix.args }}
          # target: ${{ matrix.target }}